* {
  margin: 0;
  padding: 0;
  border: 0;
}
.row {
    margin: 10px!important;
}
#what:hover {
  fill: blue;
}
.wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #6f6;
}
span {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    color: #aaa;
}
/* 下にはりつく デバッグ文字列 */
div.footer {
    position: fixed;
    bottom: 0px; 
    width: 96%;
    height: 72px;
    text-align: right;
}