* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #ffd;
  font: 30px sans-serif;
}
.tap {
  font : 30px;
}
.row {
    margin: 10px!important;
}
.well {
    padding: 4px!important;
}
hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  /*background: url(/wheel.png) no-repeat;*/
  background: url(http://jsrun.it/assets/Y/B/u/A/YBuAB.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  /*background: url(mask.png) no-repeat;*/
  background: url(http://jsrun.it/assets/Q/N/o/S/QNoSx.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  /*background: url(marker.png) no-repeat;*/
  background: url(http://jsrun.it/assets/E/p/i/r/Epiri.png) no-repeat;
}

